*{
  box-sizing: border-box;
  margin: 0;
}
body {
  margin: 0;
  overflow-x: hidden;
}
@font-face {
  font-family: 'Montserrat-Regular';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Regular.ttf) format('woff');
}
@font-face {
  font-family: 'Montserrat-Extra-Bold';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-ExtraBold.ttf) format('woff');
}
@font-face {
  font-family: 'Montserrat-Bold';
  src: local('Montserrat'), url(./assets/fonts/Montserrat-Bold.ttf) format('woff');
}
